/node_modules
/storage/public
/storage/logs
/storage/app
/storage/framework/*.*
/public/hot
/public/js
/public/css
/public/theme
/public/images
/public/storage
/public/storage/laravel-excel
/storage/*.key
/storage/debugbar
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
.env
access.log
error.log
public/mix-manifest.json
composer.lock
package-lock.json
