/* ========== color  ========== */

$white: #ffffff;
$black: #000000;
$blackH: #000000cc;
$black2: #414141;
$black3: #231916;
$dark: #333333;
$dark1: #8a8a8a;
$dark1H: #8a8a8acc;
$dark2: #eaeaea;
$blue: #00288f;
$blueH: #00288fcc;
$blue1: #07c8f5;
$blue1H: #07c8f5cc;
$blue2: #24aae1;
$blue3: blue;
$green: #00a54f;
$greenH: #00a54fcc;
$green1: #9bce5a;
$bgGreen: #06c423;
$red: #ca001f;
$redH: #ca001fcc;
$red2: #ee1d23;
$red2H: #ee1d23cc;
$yellow: #d6df21;
$yellowH: #d6df21cc;
$yellow1: #fc993b;
$yellow1H: #fc993bcc;
$orange: #a97b05;
$orangeH: #a97b05cc;
$orange1: #602f00;
$orange1H: #602f00cc;
$orangeYellow: #ff600d;
$orangeYellowH: #ff600dcc;
$orangeYellow1: #d26700;
$orangeYellow1H: #d26700cc;
$pink: #ee1e7b;
$pinkH: #ee1e78cc;
$violet: #3d548f;
$violetH: #3d548fcc;
$violet1: #8486bf;
$gray: #808080;
$gray1: #adb5bd;
$gray2: #B6B6B6;
$lightGray: #E2E2E2;
$darkGray: #636363;
$wheat: #f7ebdf;
$purple: #8a0886;
$purpleH: #b404ae;
$bgEdit: #00aeef29;
$bgDeleted: #F83434;
$disabled: #5d5555b5;
$colorBorderTable: #e0e0e0;
$bgButton: #FFE6A6;
$btnSave: #2dce89;
$bgTableGray: #d1d2d4;
$bgTablePink: #cb97c4;
$textColor: rgb(88, 77, 77);
$bgSearchMonth: #11cdef;
$bgColor1: rgb(236, 226, 226);
$bgColor2: rgb(236, 140, 156);
$btColor: chartreuse;
$btColorHover: #5e72e4;
$btnDisable: #bcbcbc;
$colorLink: #233dd2;
$btnDelete: #f5365c;
$colorNoHappen: #FDD366;
$colorHappening: #007CEF;
$colorFinish: #0FA14A;
$colorExtension: #D26700;
$colorAction:#707070;
$colorActionHv:#707070cc;