body {
    background: white;
    top: 20px;
    border-top: 25px solid #340100;
    font-family: 'Roboto', sans-serif;
}

.nopadding {
    padding: 0;
}

.nomargin {
    margin: 0;
}

.sidenav-header {
    height: auto;
    background: white;
    img.header-logo {
        width: 200px;
    }
}

.navbar-top {
    padding: 6px;
}

.admin-page-name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: black;
    margin: 46px 0px 0;
}

#sidenav-main {
    width: 25%;
    border-right: 0;
    position: relative;
    .navbar-brand {
        img {
            max-height: fit-content;
        }
    }
    .navbar-nav {
        .nav-item {
            padding: 5px 0px;
            ;
            .nav-link {
                color: #592C00;
                font-weight: bold;
                padding: 5px 25px;
            }
            .nav-link-text {
                font-size: 16px;
            }
        }
    }
    .nav-link {
        margin: 0;
        padding-left: 25px;
        padding-right: 10px;
        &.active {
            background: #F7EBDF;
        }
        span {
            padding-left: 8px;
        }
    }
}

.header-page-name {
    text-align: center;
    font-weight: bold;
    content: " ";
    &::before {
        width: 30px;
        height: 30px;
        background: black;
        float: left;
    }
}

.frontend {
    background-color: orange;
    .main-page {
        width: 85%;
        margin: 0px auto;
        background-color: white;
    }
}

.main-page {
    display: flex;
}

.main-content {
    width: 100%
}

.modal-backdrop {
    z-index: 9998;
}

.js-default-ok-popup {
    z-index: 100000;
}

.js-default-popup {
    z-index: 100000;
}
